# Copiar a .env y completar. NO subir .env a GitHub.
DB_USER=UsuarioEncuestas
DB_PASSWORD=
DB_SERVER=svr-sql-ctezo.southcentralus.cloudapp.azure.com
DB_DATABASE=db_WebDevUMG
DB_PORT=1433
JWT_SECRET=una-cadena-larga-y-aleatoria
PORT=3000
